  .navbar {
  background: blue;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px red;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 25px;
}


.navbar .container {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}


.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-link:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0px 8px 15px red;
  color: white;
}

body{
  background-color: lightgray;
}
.sub{
  text-shadow: 2px 2px red;
  color: blue;
  font-size: 75px;
  text-align: center;
  margin-top: 50px;
}

.title{
  text-shadow: 3px 3px red;
  color: blue;
  font-size: 180px;
  text-align: center;
  margin-top: 10px;
}  
/* start of letter */
.letter{
  background-image: url(/imgs/letter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  border-radius: 20px 20px;
  margin-bottom: 100px;
  padding: 30px;
margin-top: 45px;
}

.dear,.mr {
  color: blue;
  font-weight: 400px;
  font-size: 60px;
  font-family: "sloop-script-one", sans-serif;
}
.from , .name{
  color: blue;
  font-weight: 400px;
  font-size: 60px;
  font-family: "sloop-script-one", sans-serif;
  text-align: right;
}

.info{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-right: 85px;
  margin-left: 85px;
  font-size: 32px;
}





/* caareeer cards start */
p{
  color: blue;
  font-size: 25px;
}
.words{
  border-radius: 25px;
  padding: 15px;
}
.his{
  border-radius: 25px;
  border: 7px solid grey;
}
.card-body{
  background-color: grey;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.card {
  max-height: 100%;
}
.card-title{
  color: Red;
  font-size: 20px;
  text-align: center;
}
span{
  color: blue;
  background-color: red;
  border-radius: 5px;
}
span:hover{
  background-color:blue ;
  color: red;
}
button{
  text-align: center;
  background-color: red;
  color:blue;
}
.card-body{
  height: 400px;
}

